@keyframes vertical-rotation-reveal
    from
        transform rotateX(95deg)
    to
        transform rotateX(0deg)

@keyframes rotation-reveal
    from
        transform rotateY(90deg)
    to
        transform rotateY(0deg)

@keyframes opacity-reveal
    from
        opacity 0
    to
        opacity 1

@keyframes opacity-pulse
    from
        opacity 0.5
    to
        opacity 1

@keyframes spin
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)
