@tailwind base
@tailwind components
@tailwind utilities

@import base
@import animations
@import fonts
@import modernize

.layout-container
    margin 0
    padding 0

.spin-alternate-fast
    animation spin 1.5s cubic-bezier(0, 0.4, 0, 0.89) alternate infinite

.spin-fast
    animation spin 1s linear infinite

.spin
    animation spin 1.5s linear infinite

.no-anim
    animation none

.headline
    font-family headlineFont !important

.small-caps
    font-variant small-caps

h1
    font-weight: theme('fontWeight.bold')
    font-size: theme('fontSize.3xl')
    color: theme('textColor.white')

h2
    font-weight: theme('fontWeight.bold')
    font-size: theme('fontSize.2xl')
    color: theme('textColor.white')
    +mobile()
        font-size: theme('fontSize.xl')

h3
    font-weight: theme('fontWeight.bold')
    font-size: theme('fontSize.xl')
    color: theme('textColor.white')
    +mobile()
        font-size: theme('fontSize.lg')

h4
    font-weight: theme('fontWeight.bold')
    font-size: theme('fontSize.lg')
    color: theme('textColor.white')
    +mobile()
        font-size: theme('fontSize.base')

a
    font-weight: theme('fontWeight.medium')
    color: theme('textColor.blue.muted')
    transition-duration: theme('transitionDuration.200')
    transition-property: theme('transitionProperty.DEFAULT')

a:hover
    color: theme('textColor.blue.calm')

.btn
    font-weight: theme('fontWeight.medium')
    border-radius: theme('borderRadius.xl')
    transition-duration: theme('transitionDuration.200')
    transition-property: theme('transitionProperty.DEFAULT')
    padding: theme('padding.3') theme('padding.5')

body section#hero .btn-paddle,
body section#pro .btn-paddle
    font-size: 15px !important
    font-family: sansSerif !important
    font-weight: theme('fontWeight.medium') !important
    border-radius: theme('borderRadius.DEFAULT') !important
    transition-duration: theme('transitionDuration.200') !important
    transition-property: theme('transitionProperty.DEFAULT') !important
    padding: 0.9rem theme('padding.6') !important
    color: theme('textColor.black') !important
    background: theme('backgroundColor.white') !important
    display: flex !important
    justify-content center !important
    align-items center !important
    box-shadow: theme('boxShadow.lg') !important
    border: none !important

    &:hover
        border: none !important
        box-shadow: theme('boxShadow.2xl') !important
        color: theme('textColor.yellow.bright') !important
        background: theme('backgroundColor.mauve.blackish') !important

.btn-yellow-lunar
    background-color: theme('backgroundColor.yellow.lunar')
    color: theme('textColor.black')

.btn-yellow-lunar:hover
    background-color: theme('backgroundColor.mauve.black')
    color: theme('textColor.white')

.btn-orange-dot
    background-color: theme('backgroundColor.orange.dot')
    color: theme('textColor.black')

.btn-orange-dot:hover
    background-color: theme('backgroundColor.white')
    color: theme('textColor.black')

.btn-orange-bmac
    background-color: theme('backgroundColor.orange.bmac')
    color: theme('textColor.white')

.btn-orange-bmac:hover
    background-color: theme('backgroundColor.white')
    color: theme('textColor.black')

.flex-center
    display: flex
    justify-content: center
    align-items: center

.flex-col-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.monospaced
    font-family: secondaryFont !important

for colorName, colorValue in colors
    .glow-{colorName}
        soft-shadow colorValue 0.4 1 0.5

    .glow-text-{colorName}
        soft-text-shadow colorValue 0.4 1 0.5

    .glow-drop-{colorName}
        soft-drop-shadow colorValue 0.4 1 0.5

ul
    list-style-type disc
    list-style-position inside
    margin: revert
    padding: revert

ol
    list-style-type decimal
    list-style-position inside
    margin: revert
    padding: revert

code
    background-color darkBlue
    padding 2px 4px
    border-radius 2px

p
    margin-top 0.5rem
strong
    color theme('colors.red.500')

.tooltip
    visibility hidden
    position absolute

.has-tooltip:hover .tooltip
    visibility visible
    z-index 100

.has-tooltip-manual.show-tooltip .tooltip
    visibility visible
    z-index 100


#answers
#releases
    .ais-Hits-list
        list-style none
        margin 0
        padding 0
    mark
        background sunflower
        color darkMauve
        border-radius 2px
        font-weight bold

#searchbox
    margin-bottom 1rem

    .ais-SearchBox-form
        display flex
        background lunarYellow
        border-radius 8px
        soft-shadow pitchBlack 0.5 1 2
        padding 1rem 2rem
        max-width 90vw
    button
        margin 0 0.5rem
    input
        background transparent
        width 500px
        max-width 80vw
        outline none
        color mauve
        font-weight 500

        &::placeholder
            color lightGrayMauve
            opacity 0.7

pre
    background mix(black, darkMauve, 50%)
    padding 1rem
    margin 1rem auto
    border-radius 8px
    overflow-x scroll

.content
    transition-property: max-height
    transition-timing-function: ease-out
    transition-duration: 150ms

hr
    border-color marsRed
    margin 0.8rem 0

em
    color peach
h4
    color grayBlue

h3
    color warmWhite
    margin-top 1.5rem

video
    margin 1rem auto
    border-radius 8px
    soft-shadow pitchBlack 0.3 1 2

.links
    a
        background-color alpha(white, 0.5)
        color blackGray
        border-radius 8px
        padding 0.5rem 1rem
        word-break keep-all
        white-space nowrap
        +mobile()
            padding 0.35rem 0.7rem

        &:hover
        &:focus
            background-color alpha(white, 0.8)
            color black

.zstack
    display: grid
    align-items: center
    justify-items: center

.zstack > *
    grid-area: 1/1/1/1


#volum-knob
    position relative
    background: center / contain no-repeat linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), conic-gradient(from 1.5708rad at 50% 50%, #F1CEA3 2%, #E3BE93 4%, #CA9F75 17%, #E6C295 21%, #E1B68B 27%, #DFB287 31%, #F1CEA2 37%, #F6D7AB 41%, #C49E80 54%, #D0A580 65%, #C39B7F 73%, #F5D8AC 83%, #F5D8AB 88%, #DEB085 95%)
    width: 56%
    height: 56%
    border-radius: 9999px
    margin-top: -2%

    #volum-knob-border
        width: 100%
        height: 100%
        border: 2px solid rgba(255, 255, 255, 0.4)
        border-radius: 9999px

    #volum-knob-indicator
        width: 10%
        height: 10%
        border-radius: 9999px
        background #888
        position absolute
        bottom 24%
        left 12%
