@font-face
  font-family: 'PumpTriline'
  src: url('/static/fonts/PumpTriline/Pump W04 Triline.woff2') format('woff2'),
       url('/static/fonts/PumpTriline/Pump W04 Triline.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Meslo'
  src: url('/static/fonts/Meslo/Meslo-Regular.woff2') format('woff2')
  src: url('/static/fonts/Meslo/Meslo-Regular.woff') format('woff')
  src: local('Menlo-Regular')
  font-style: normal

@font-face
  font-family: 'Meslo'
  src: url('/static/fonts/Meslo/Meslo-Bold.woff2') format('woff2'),
       url('/static/fonts/Meslo/Meslo-Bold.woff') format('woff')
  src: local('Menlo-Bold')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Meslo'
  src: url('/static/fonts/Meslo/Meslo-BoldItalic.woff2') format('woff2'),
       url('/static/fonts/Meslo/Meslo-BoldItalic.woff') format('woff')
  src: local('Menlo-BoldItalic')
  font-weight: bold
  font-style: italic


@font-face
  font-family: 'Meslo'
  src: url('/static/fonts/Meslo/Meslo-Italic.woff2') format('woff2'),
       url('/static/fonts/Meslo/Meslo-Italic.woff') format('woff')
  src: local('Menlo-Italic')
  font-weight: normal
  font-style: italic

