blackGray    = #363434
lunarYellow    = #FFD586
niceYellow    = #F69200
warmWhite    = #FFEAD7
flashWhite     = #FFFFFF
white          = #FAFAFA
maroon         = #aa9483
lightGray      = #AAAAAA
gray           = #888888
darkGray       = #444444
black          = #1C1C1C
pitchBlack     = #000000
orange         = #F96332
yellow         = #FFB500
sunflower      = #F7CE68
peach          = #FBAB7E
sepia          = #B97F64
mauve          = #312A4C
grayMauve      = #3E385B
lightGrayMauve = #40365d
darkMauve      = #291B3B
magenta        = #E14283
red            = #F23343
hotred         = #FF1536
marsRed        = #862833
dullRed        = #c75764
spotifyGreen   = #70B069
weirdGreen     = #46BD62
green          = #54D381
calmBlue       = #6488B9
grayBlue       = #B1B2DD
blue           = #2977FF
facebook       = #3B5998
twitter        = #1DA1F2
linkedin       = #0077b5
github         = #ffffff
reddit         = #FF4500
magentish      = #811a4c
darkBlue       = #050129
blackMauve     = #1E1D22
blackishMauve     = #120D13
bmacOrange     = #ff813f

colors = {
    lunar-yellow: lunarYellow
    flash-white: flashWhite
    white: white
    maroon: maroon
    light-gray: lightGray
    gray: gray
    dark-gray: darkGray
    black: black
    pitch-black: pitchBlack
    orange: orange
    yellow: yellow
    sunflower: sunflower
    peach: peach
    sepia: sepia
    mauve: mauve
    gray-mauve: grayMauve
    light-gray-mauve: lightGrayMauve
    dark-mauve: darkMauve
    magenta: magenta
    red: red
    hotred: hotred
    mars-red: marsRed
    spotify-green: spotifyGreen
    weird-green: weirdGreen
    green: green
    calm-blue: calmBlue
    gray-blue: grayBlue
    blue: blue
    facebook: facebook
    twitter: twitter
    linkedin: linkedin
    github: github
    reddit: reddit
    magentish: magentish
    dark-blue: darkBlue
    black-mauve: blackMauve
    bmac-orange: bmacOrange
}

ease-in-quad      = easeInQuad     = cubic-bezier(0.55, 0.085, 0.68, 0.53)
ease-in-cubic     = easeInCubic    = cubic-bezier(0.55, 0.055, 0.675, 0.19)
ease-in-quart     = easeInQuart    = cubic-bezier(0.895, 0.03, 0.685, 0.22)
ease-in-quint     = easeInQuint    = cubic-bezier(0.755, 0.05, 0.855, 0.06)
ease-in-expo      = easeInExpo     = cubic-bezier(0.95, 0.05, 0.795, 0.035)
ease-in-circ      = easeInCirc     = cubic-bezier(0.6, 0.04, 0.98, 0.335)

ease-out-quad     = easeOutQuad    = cubic-bezier(0.25, 0.46, 0.45, 0.94)
ease-out-cubic    = easeOutCubic   = cubic-bezier(0.215, 0.61, 0.355, 1)
ease-out-quart    = easeOutQuart   = cubic-bezier(0.165, 0.84, 0.44, 1)
ease-out-quint    = easeOutQuint   = cubic-bezier(0.23, 1, 0.32, 1)
ease-out-expo     = easeOutExpo    = cubic-bezier(0.19, 1, 0.22, 1)
ease-out-circ     = easeOutCirc    = cubic-bezier(0.075, 0.82, 0.165, 1)

ease-in-out-quad  = easeInOutQuad  = cubic-bezier(0.455, 0.03, 0.515, 0.955)
ease-in-out-cubic = easeInOutCubic = cubic-bezier(0.645, 0.045, 0.355, 1)
ease-in-out-quart = easeInOutQuart = cubic-bezier(0.77, 0, 0.175, 1)
ease-in-out-quint = easeInOutQuint = cubic-bezier(0.86, 0, 0.07, 1)
ease-in-out-expo  = easeInOutExpo  = cubic-bezier(1, 0, 0, 1)
ease-in-out-circ  = easeInOutCirc  = cubic-bezier(0.785, 0.135, 0.15, 0.86)

easing-directions = ('in' 'out' 'in-out')
easing-speeds = ('quad' 'cubic' 'quart' 'quint' 'expo' 'circ')

headlineFont = PumpTriline, sansSerif
sansSerif = -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif
monoSpace = Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace

primaryFont = sansSerif
secondaryFont = Meslo, Menlo, monoSpace

$8k = 8120px
$5k = 5260px
$4k = 3840px
$2k = 2560px
$1k = $hd = 1920px
$desktop = $large = $lg = 1280px
$tablet = 1024px
$medium = $md = 768px
$mobile = $small = $sm = 640px
$extra-small = $xs = 320px
$really-small = 64px

rupture.mobile-cutoff = $mobile
rupture.desktop-cutoff = $desktop
rupture.hd-cutoff = $hd
rupture.scale = 0 (rupture.mobile-cutoff) $medium $tablet (rupture.desktop-cutoff) (rupture.hd-cutoff)
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'hd'
